---
import type { Project } from '../components/ProjectApp'
import Layout from '../layouts/Base.astro'
import ProjectApp from '../components/ProjectApp'
import Footer from '../components/Footer.astro'
import { TinaMarkdown } from 'tinacms/dist/rich-text'

import pick from 'lodash/pick'
import { client } from '@tina/__generated__/client'

const { data } = await client.queries.site({ relativePath: 'site.yml' })
const { title, description, bio } = data.site

const validTypes: Readonly<Project['type'][]> = [
  'bandcamp',
  'soundcloud',
  'youtube',
  'vimeo',
  'page',
] as const
const isProjectType = (s: string): s is Project['type'] =>
  validTypes.includes(s as Project['type'])

function isNotEmpty<T>(v: T | null | undefined): v is T {
  return v !== null && v !== undefined
}

const projectsResponse = await client.queries.projectConnection()
const projects = projectsResponse.data.projectConnection.edges
  ?.map<Project | null>(
    (p) =>
      (p?.node &&
        isProjectType(p.node.media) && {
          ...pick(p.node, ['title', 'description', 'image', 'link']),
          slug: p.node._sys.filename,
          type: p.node.media,
          tralbumId: p.node.tralbum_id || undefined,
        }) ||
      null,
  )
  .filter(isNotEmpty)
---

<Layout
  title={title ?? 'Robert Don'}
  description={description ?? undefined}
  class="font-sans"
>
  <div class="contains-3d bg-neutral-100 text-neutral-800">
    <div
      id="splash"
      class="text-white bg-neutral-900 splash-container splash-img"
      data-force-fullscreen
    >
      <div class="container flex flex-col items-center h-full mx-auto p-md">
        <a
          href="/"
          class="m-auto text-center full-shadow radial-shadow no-select"
        >
          <h1 class="title m-0 border-b-2 border-white">
            {title}
          </h1>
          <p class="subtitle font-caps uppercase">{description}</p>
        </a>

        <a
          href="#projects"
          class="fa fa-chevron-down scroll-arrow no-select"
          data-smooth-scroll
          data-hide-on-scroll
          data-analytics-category="Navigation"
          data-analytics-action="click"
          data-analytics-label="Clicked on scroll arrow"></a>
      </div>
    </div>

    {projects && <ProjectApp client:load projects={projects} />}

    <div id="bio" class="container mx-auto my-lg">
      <div class="bio flex flex-row">
        <div class="max-w-prose mb-md">
          <h2
            class="font-caps text-[2em] uppercase pb-xs border-b border-b-neutral-800"
          >
            About Me
          </h2>

          <TinaMarkdown content={bio} />
        </div>

        <div class="headshot-container relative ml-md">
          <img
            class="absolute inset-0 w-full h-full object-fit-rob"
            src="/media/headshot.jpg"
            alt="headshot photo"
          />
        </div>
      </div>
    </div>

    <div id="cta" class="text-white bg-neutral-900 cta-img">
      <div
        class="min-h-[50vh] flex flex-col justify-center items-center container mx-auto px-md py-lg text-center"
      >
        <h2 class="font-caps text-[2em] uppercase mb-md">Have a project?</h2>

        <i class="fa fa-chevron-down text-[1.5em] mb-md no-select"></i>

        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLScE325v5jJaix12pW8lGQldHVvDxkpp4urSVSKHqlFuU-hPLg/viewform"
          class="button font-caps text-[2em] uppercase duration-300 hover:scale-105"
          target="_blank"
          data-analytics-category="Contact Link"
          data-analytics-action="click"
          data-analytics-label="Opened up contact form"
        >
          Get in touch
        </a>
      </div>
    </div>
  </div>
  <Footer />
</Layout>

<style lang="scss">
  @use 'sass:color';
  @use '@dawaltconley/responsive-images';

  .container {
    min-width: 50%;
  }

  .splash-container {
    height: 80vh;
    min-height: 300px;
  }

  %bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .splash-img {
    @extend %bg-image;

    @include responsive-images.bg(
      $src: './public/media/backgrounds/mixing-board-angled.jpg',
      $prepend-backgrounds: linear-gradient(rgba(black, 0.4), rgba(black, 0.4))
    );
  }

  .cta-img {
    @extend %bg-image;
    background-position: bottom;

    @include responsive-images.bg(
      $src: './public/media/backgrounds/mixing-board-straight.jpg',
      $prepend-backgrounds: linear-gradient(rgba(black, 0.7), rgba(black, 0.5))
    );
  }

  .title {
    @apply font-sans;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 88px;
  }

  .subtitle {
    font-size: 42px;
    font-weight: 400;
  }

  .scroll-arrow {
    font-size: 36px;
    padding: 4px;
  }

  $trans-project: 1s;

  .t-project-view {
    transition: $trans-project ease-out;
  }

  .headshot-container {
    flex: 1 0.4 70%;
  }

  @media screen and (max-width: theme('screens.laptop')) {
    .bio {
      display: block;
    }

    .headshot-container {
      margin-left: 0;

      & > img {
        position: static;
      }
    }
  }

  .object-fit-rob {
    $pos: 70% 0%;
    object-fit: cover;
    object-position: $pos;
    font-family: 'object-fit: cover; object-position: #{$pos};';
  }

  $brand-color: theme('colors.brand');

  .button {
    display: inline-block;
    padding: 0.8rem 1rem 1rem;
    line-height: 1;
    -webkit-clip-path: polygon(
      5% 0,
      95% 0,
      100% 25%,
      100% 75%,
      95% 100%,
      5% 100%,
      0 75%,
      0 25%
    );
    clip-path: polygon(
      5% 0,
      95% 0,
      100% 25%,
      100% 75%,
      95% 100%,
      5% 100%,
      0 75%,
      0 25%
    );
    background-color: $brand-color;
    &:visited {
      background-color: color.adjust($brand-color, $lightness: 10%);
    }
    &:hover {
      background-color: color.adjust($brand-color, $lightness: 15%);
    }
  }
</style>
