---
import type { ImageMetadata } from '@dawaltconley/responsive-images'
import path from 'node:path'
import Layout from '../layouts/Base.astro'
import Splash from '../components/Splash'
import ProjectApp from '../components/ProjectApp'
import Bio from '../components/Bio'
import Footer from '../components/Footer.astro'
import imageConfig from '../lib/node/image-config'
import { isNotEmpty } from '../lib/utils'

import pick from 'lodash/pick'
import { client } from '@tina/__generated__/client'

const site = await client.queries.site({ relativePath: 'site.yml' })
const { title, description, about, projects: projectSort } = site.data.site

interface ImageData {
  path: string
  sizes?: string
  alt?: string
}

const images: ImageData[] = [
  {
    path: about.image,
    sizes:
      '(min-width: 2000px) 25vw, (min-width: 1000px) 432px, (min-width: 800px) 334px, (min-width: 600px) 540px, 100vw',
    alt: 'headshot photo',
  },

  ...(projectSort
    ?.filter(isNotEmpty)
    .map((c) => c.projects)
    .flat()
    .map<ImageData>(({ project: p }) => ({
      path: p.image,
      sizes:
        p.media === 'page' // projects with this media type display a larger image
          ? '(min-width: 2000px) 25vw, (min-width: 1000px) 455px, (min-width: 800px) 355px, (min-width: 600px) 540px, 100vw'
          : '(min-width: 2000px) 18vw, (min-width: 1000px) 285px, (min-width: 600px) 318px, 89vw',
      alt: p.title,
    })) || []),
]

const imageMetadata: Record<string, ImageMetadata> = Object.fromEntries(
  await Promise.all(
    images.map<Promise<[string, ImageMetadata]>>(
      async ({ path: image, sizes, alt = '' }) => {
        const imagePath = import.meta.env.PROD
          ? image
          : path.resolve('./public', `.${image}`)
        const metadata = await imageConfig.metadataFromSizes(imagePath, {
          sizes,
          alt,
        })
        return [image, metadata]
      },
    ),
  ),
)
---

<Layout
  title={title ?? 'Robert Don'}
  description={description ?? undefined}
  class="font-sans"
>
  <div class="contains-3d bg-neutral-100 text-neutral-800">
    <div
      id="splash"
      class="text-white bg-neutral-900 splash-container splash-img"
      data-force-fullscreen
    >
      <div class="container flex flex-col items-center h-full mx-auto p-md">
        <Splash client:tina site={site} />

        <a
          href="#projects"
          class="fa fa-chevron-down scroll-arrow no-select"
          data-smooth-scroll
          data-hide-on-scroll
          data-analytics-category="Navigation"
          data-analytics-action="click"
          data-analytics-label="Clicked on scroll arrow"></a>
      </div>
    </div>

    {
      site && (
        <ProjectApp client:load site={site} responsiveImages={imageMetadata} />
      )
    }

    <Bio
      client:tina
      site={site}
      responsiveImages={pick(imageMetadata, [about.image])}
    />

    <div id="cta" class="text-white bg-neutral-900 cta-img">
      <div
        class="min-h-[50vh] flex flex-col justify-center items-center container mx-auto px-md py-lg text-center"
      >
        <h2 class="font-caps text-[2em] uppercase mb-md">Have a project?</h2>

        <i class="fa fa-chevron-down text-[1.5em] mb-md no-select"></i>

        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLScE325v5jJaix12pW8lGQldHVvDxkpp4urSVSKHqlFuU-hPLg/viewform"
          class="button font-caps text-[2em] uppercase duration-300 hover:scale-105"
          target="_blank"
          data-analytics-category="Contact Link"
          data-analytics-action="click"
          data-analytics-label="Opened up contact form"
        >
          Get in touch
        </a>
      </div>
    </div>
  </div>
  <Footer />
</Layout>

<style lang="scss">
  @use 'sass:color';
  @use '@dawaltconley/responsive-images';

  :global(.container) {
    min-width: 50%;
  }

  .splash-container {
    height: 80vh;
    min-height: 300px;
  }

  %bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .splash-img {
    @extend %bg-image;

    @include responsive-images.bg(
      $src: './public/media/backgrounds/mixing-board-angled.jpg',
      $prepend-backgrounds: linear-gradient(rgba(black, 0.4), rgba(black, 0.4))
    );
  }

  .cta-img {
    @extend %bg-image;
    background-position: bottom;

    @include responsive-images.bg(
      $src: './public/media/backgrounds/mixing-board-straight.jpg',
      $prepend-backgrounds: linear-gradient(rgba(black, 0.7), rgba(black, 0.5))
    );
  }

  .scroll-arrow {
    font-size: 36px;
    padding: 4px;
  }

  $trans-project: 1s;

  .t-project-view {
    transition: $trans-project ease-out;
  }

  $brand-color: theme('colors.brand');

  .button {
    display: inline-block;
    padding: 0.8rem 1rem 1rem;
    line-height: 1;
    -webkit-clip-path: polygon(
      5% 0,
      95% 0,
      100% 25%,
      100% 75%,
      95% 100%,
      5% 100%,
      0 75%,
      0 25%
    );
    clip-path: polygon(
      5% 0,
      95% 0,
      100% 25%,
      100% 75%,
      95% 100%,
      5% 100%,
      0 75%,
      0 25%
    );
    background-color: $brand-color;
    &:visited {
      background-color: color.adjust($brand-color, $lightness: 10%);
    }
    &:hover {
      background-color: color.adjust($brand-color, $lightness: 15%);
    }
  }
</style>
